@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
  .header_bottom {
    background-color: #ffffff;
  }
  .header_bottom,
  nav.mobile_menu {
    background-color: #333230 !important;
  }

  .subtitle {
    font-size: 16px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .title h1 {
    font-size: 28px;
  }
  .title h1 {
    font-size: 32.2px;
  }

  .subtitle {
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  section.parallax_section_holder {
    height: auto !important;
    min-height: 400px !important;
  }
}

@media only screen and (max-width: 600px) {
  .title h1 {
    font-size: 20px;
  }
  .title h1 {
    font-size: 23px;
  }
}

@media only screen and (max-width: 480px) {
  section.parallax_section_holder {
    height: auto !important;
    min-height: 400px !important;
  }
}
